extends default 

block content
  .home-search
    img(src="/images/AKAM.png" width="280")
    form(action='/search' method='GET')
      input.home-input(autofocus='' placeholder='Enter SwitchKey' type='search' name='q')